@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #AF67E9 0%, #6565E7 100%);
  min-height: 100vh;
  width: 100vw;
  position: relative;
}
body .center {
  position: relative;
  margin-top: 50px;
}
body .center .ill {
  position: absolute;
  top: 45%;
  left: -9%;
  z-index: 4;
}
body .center .ill img {
  width: 170px;
}
body .center .card {
  background-color: white;
  display: flex;
  max-width: 930px;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 25px 30px 44px -2px rgba(0, 0, 0, 0.4);
}
body .center .card .card-ill {
  position: relative;
  left: -8.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .center .card .card-ill img.bg {
  position: absolute;
  width: 135%;
  top: -5%;
  left: -35%;
}
body .center .card .card-ill img.computer {
  z-index: 3;
}
body .center .card .content {
  margin: 3.75rem 0 6.25rem 0;
}
body .center .card .content h1 {
  font-weight: 700;
  font-size: 35px;
  margin-left: 1.875rem;
  margin-bottom: 40px;
}
body .center .card .content .faqs {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
body .center .card .content .faqs .faq {
  min-width: 340px;
}
body .center .card .content .faqs .faq .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  transition: color 0.3s ease;
}
body .center .card .content .faqs .faq .question p {
  font-weight: 400;
  font-size: 14px;
  color: #4A4B5E;
  transition: color 0.3s ease;
}
body .center .card .content .faqs .faq .question img {
  height: 7px;
  width: 10px;
}
body .center .card .content .faqs .faq p.answer {
  display: none;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 0.75rem;
  color: #787887;
}
body .center .card .content .faqs .faq hr {
  border: 1px solid #E7E7E9;
}
body .center .card .content .faqs .faq:hover .question p {
  color: #F47C57;
  transition: color 0.3s ease;
}
body .center .card .content .faqs .faq.active {
  animation: openAccordian 0.3s ease-in-out;
}
body .center .card .content .faqs .faq.active .question p {
  font-weight: 700;
}
body .center .card .content .faqs .faq.active .question img {
  transform: rotate(180deg);
}
body .center .card .content .faqs .faq.active p.answer {
  animation: openAccordian 0.25s ease-in-out;
}
body .center .card .content .faqs .faq.closed {
  transition: all 0.1s ease-in-out;
}

.mobile {
  display: none;
}

@keyframes openAccordian {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}
@keyframes closeAccordian {
  from {
    opacity: 100;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(2px);
  }
}
@media (max-width: 1100px) {
  body .center {
    position: relative;
  }
  body .center .ill {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  body .center .ill img.computer {
    position: absolute;
    top: -20.5%;
    left: 25%;
    width: 250px;
    z-index: 2;
  }
  body .center .ill img.bg {
    position: absolute;
    top: -2%;
    left: 25%;
    width: 250px;
  }
  body .center .card {
    flex-direction: column;
    width: 500px;
    align-items: center;
  }
  body .center .card .content {
    z-index: 5;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  body .center .card .content h1 {
    margin: 50px 0 1.5625rem 0;
  }
  body .center .card .content .faqs {
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  body .center .card .content .faqs .faq p.answer {
    max-width: 340px;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}
@media (max-width: 525px) {
  body .center {
    position: relative;
  }
  body .center .ill {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  body .center .ill img.computer {
    position: absolute;
    top: -20.5%;
    left: 10%;
    width: 250px;
    z-index: 2;
  }
  body .center .ill img.bg {
    position: absolute;
    top: -3%;
    left: 10%;
    width: 250px;
  }
  body .center .card {
    flex-direction: column;
    width: 325px;
    align-items: center;
  }
  body .center .card .content {
    z-index: 5;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  body .center .card .content h1 {
    margin: 50px 0 1.5625rem 0;
  }
  body .center .card .content .faqs {
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  body .center .card .content .faqs .faq {
    width: 275px;
    min-width: 0;
  }
  body .center .card .content .faqs .faq p.answer {
    max-width: 275px;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
